jambeth/jambeth-soap/wsdl/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="IEventService"
	targetNamespace="http://schema.kochdev.com/Ambeth" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://schema.kochdev.com/Ambeth" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsp:Policy wsu:Id="IEventService_IEventService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<http:NtlmAuthentication
					xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://schema.kochdev.com/Ambeth/Imports">
			<xsd:import schemaLocation="EventService.xsd"
				namespace="http://schema.kochdev.com/Ambeth" />
			<xsd:import schemaLocation="Serialization.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="SerializationArrays.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IEventService_PollEvents_InputMessage">
		<wsdl:part name="parameters" element="tns:PollEvents" />
	</wsdl:message>
	<wsdl:message name="IEventService_PollEvents_OutputMessage">
		<wsdl:part name="parameters" element="tns:PollEventsResponse" />
	</wsdl:message>
	<wsdl:message name="IEventService_GetCurrentEventSequence_InputMessage">
		<wsdl:part name="parameters" element="tns:GetCurrentEventSequence" />
	</wsdl:message>
	<wsdl:message name="IEventService_GetCurrentEventSequence_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetCurrentEventSequenceResponse" />
	</wsdl:message>
	<wsdl:message name="IEventService_GetCurrentServerSession_InputMessage">
		<wsdl:part name="parameters" element="tns:GetCurrentServerSession" />
	</wsdl:message>
	<wsdl:message name="IEventService_GetCurrentServerSession_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetCurrentServerSessionResponse" />
	</wsdl:message>
	<wsdl:portType name="IEventService">
		<wsdl:operation name="PollEvents">
			<wsdl:input
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/PollEvents"
				message="tns:IEventService_PollEvents_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/PollEventsResponse"
				message="tns:IEventService_PollEvents_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetCurrentEventSequence">
			<wsdl:input
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentEventSequence"
				message="tns:IEventService_GetCurrentEventSequence_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentEventSequenceResponse"
				message="tns:IEventService_GetCurrentEventSequence_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetCurrentServerSession">
			<wsdl:input
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentServerSession"
				message="tns:IEventService_GetCurrentServerSession_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentServerSessionResponse"
				message="tns:IEventService_GetCurrentServerSession_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IEventService_IEventService" type="tns:IEventService">
		<wsp:PolicyReference URI="#IEventService_IEventService_policy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PollEvents">
			<soap:operation
				soapAction="http://schema.kochdev.com/Ambeth/IEventService/PollEvents"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentEventSequence">
			<soap:operation
				soapAction="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentEventSequence"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCurrentServerSession">
			<soap:operation
				soapAction="http://schema.kochdev.com/Ambeth/IEventService/GetCurrentServerSession"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IEventService">
		<wsdl:port name="IEventService_IEventService" binding="tns:IEventService_IEventService">
			<soap:address location="http://localhost:8000/EventService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>