jambeth/jambeth-soap/wsdl/MergeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="IMergeService"
	targetNamespace="http://schema.kochdev.com/Ambeth" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://schema.kochdev.com/Ambeth" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<wsp:Policy wsu:Id="IMergeService_IMergeService_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<http:NtlmAuthentication
					xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema targetNamespace="http://schema.kochdev.com/Ambeth/Imports">
			<xsd:import schemaLocation="MergeService.xsd"
				namespace="http://schema.kochdev.com/Ambeth" />
			<xsd:import schemaLocation="Serialization.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="SerializationArrays.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IMergeService_Merge_InputMessage">
		<wsdl:part name="parameters" element="tns:Merge" />
	</wsdl:message>
	<wsdl:message name="IMergeService_Merge_OutputMessage">
		<wsdl:part name="parameters" element="tns:MergeResponse" />
	</wsdl:message>
	<wsdl:message name="IMergeService_GetMetaData_InputMessage">
		<wsdl:part name="parameters" element="tns:GetMetaData" />
	</wsdl:message>
	<wsdl:message name="IMergeService_GetMetaData_OutputMessage">
		<wsdl:part name="parameters" element="tns:GetMetaDataResponse" />
	</wsdl:message>
	<wsdl:portType name="IMergeService">
		<wsdl:operation name="Merge">
			<wsdl:input wsaw:Action="http://schema.kochdev.com/Ambeth/IMergeService/Merge"
				message="tns:IMergeService_Merge_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schema.kochdev.com/Ambeth/IMergeService/MergeResponse"
				message="tns:IMergeService_Merge_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="GetMetaData">
			<wsdl:input
				wsaw:Action="http://schema.kochdev.com/Ambeth/IMergeService/GetMetaData"
				message="tns:IMergeService_GetMetaData_InputMessage" />
			<wsdl:output
				wsaw:Action="http://schema.kochdev.com/Ambeth/IMergeService/GetMetaDataResponse"
				message="tns:IMergeService_GetMetaData_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IMergeService_IMergeService" type="tns:IMergeService">
		<wsp:PolicyReference URI="#IMergeService_IMergeService_policy" />
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Merge">
			<soap:operation soapAction="http://schema.kochdev.com/Ambeth/IMergeService/Merge"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMetaData">
			<soap:operation
				soapAction="http://schema.kochdev.com/Ambeth/IMergeService/GetMetaData"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IMergeService">
		<wsdl:port name="IMergeService_IMergeService" binding="tns:IMergeService_IMergeService">
			<soap:address location="http://localhost:8000/MergeService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>